.content {
    color: black;
    font-family: sans-serif;
    line-height: 1.6;
    /*background: radial-gradient(ellipse at top center, #310038 0%, #000000 100%);*/
    background-color: none;
    background-size: cover;
}
.content h1{
  color: orange;
  font-size: 5em;
  padding: 30px;
  text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 90px white;
} 
.scroller {
overflow: auto;
width: 100%;
padding: 1rem;
scroll-timeline-name: --scroller;
scroll-timeline-axis: inline;
}

.scroller::-webkit-scrollbar {
  height: 10px;
}

.scroller::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}
.scroller::-webkit-scrollbar-thumb {
  background:greenyellow;
  border: 3px solid transparent;
  border-radius: 9px;
}

#video_list {
display: flex;
gap: 1rem;
list-style: none;
padding-left: 0;
counter-reset: list-item;
perspective: 9000px;
transform-style: preserve-3d;
perspective-origin: 50% 50%;
}
#video_list > li {
flex: 1 1 520px;
min-width: 520px;
border: 1px solid currentColor;
padding: 1rem;
animation: auto ease-in-out intro forwards, auto ease-in-out outro forwards;
animation-timeline: view(inline);
animation-range: entry, exit;
transform-origin: bottom center;
}
#video_list p,
#video_list h2 {
margin-top: 1rem;
margin-bottom: 0;
}
#video_list h2 {
color: #aaa;
font-weight: normal;
}

#video_list > li {
display: flex;
flex-direction: column;
color: #ccc;
position: relative;
overflow: hidden;
}
#video_list > li a {
  text-decoration: none;
}
#video_list > li::before {
counter-increment: list-item;
content: counter(list-item) ".";
font-size: 5em;
font-weight: bold;
color: orange;
margin-bottom: 1rem;
line-height: 1;
}
#video_list > li::after {
content: "";
background-color: var(--bg);
color: aquamarine;
position: absolute;
inset: -20px;
background-size: cover;
transition: transform 0.5s ease-out, opacity 0.4s linear;
opacity: 0;
z-index: -1;
}
#video_list > li:hover::after {
transform: scale(1.1) rotate(4deg);
opacity: 0.8;
}

@keyframes intro {
from {
    transform-origin: center left;
    opacity: 0;
    scale: 0;
}
to {
    transform-origin: center left;
    opacity: 1;
    scale: 1;
}
}
@keyframes outro {
from {
    transform-origin: center right;
    opacity: 1;
    scale: 1;
}
to {
    transform-origin: center right;
    opacity: 0;
    scale: 0;
}
}



@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  font-family: Montserrat;
}


/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #ffd300
}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #fff;
  position: relative;
  width: 80%;
  z-index: 3;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 0;
  margin-top: 0px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  color: #ffd300;
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 20px;
  float: right;
  padding: 0;
  position: relative;
}

#vid_watch_later {
  position: relative;
  padding: 12px 36px;
  margin: 10px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  z-index: 1;
  color: #ff3c83;
}
#vid_watch_later:hover {
  color: #fff;
}
#vid_watch_later::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all ease;
  box-sizing: border-box;
}
#vid_watch_later:hover::before {
  border-radius: 4px;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #fd297a, #9424f0);
  opacity: 1;
  z-index: -1;
}